<h2>Information</h2>
<p><strong>When</strong>: 1 May 2021</p>
<div>
  <strong>Where</strong>:
  <div class="location">
    <div class="name">Life Bible-Presbyterian Church</div>
    <a class="address" href="https://goo.gl/maps/UePNVDoxaihZMNtC9">9A Gilstead Rd, Singapore 309063</a>
  </div>
  <div class="location">
    <div class="name">Sheraton Towers Singapore</div>
    <a class="address" href="https://goo.gl/maps/qh9DqeDHynxtwWyV9">39 Scotts Rd, Singapore 228230</a>
  </div>
</div>

<h2>Details</h2>
<ul>
  <li>Church service at 9:30 am</li>
  <li>Lunch at Sheraton at 12:00pm</li>
</ul>

<h2>RSVP</h2>
<p>Please <a href="https://forms.gle/yKTKx6i4fztvbAtd8">send your RSVP</a> online by 1 March 2021.</p>

<p>If you have any questions, please <a href="mailto:zalwynxminz@gmail.com" onmouseover="this.href=this.href.replace(/z/g, '');">email us</a>.</p>

<hr />
