<h2>Save the Date!</h2>
<p><strong>Saturday, 1 May 2021</strong></p>

<h2>Solemnization</h2>
<p><strong>Service commences at 11.00am</strong><br>
   <a href="/church">Order of Service</a>
</p>
<p>
  <strong>Please be seated by 10.45am</strong><br>
    <a href="/seating">Seating Plan</a>
</p>
  <div class="location">
      <div class="name">Life Bible-Presbyterian Church</div>
      <a class="address" href="https://goo.gl/maps/UePNVDoxaihZMNtC9">9A Gilstead Rd, Singapore 309063</a>
  </div>

<h2>Lunch</h2>
<p><strong>Lunch will be served at 1.00pm</strong><br>
  <a href="/lunch">Menu</a><br>
  <a href="/seating">Seating Plan</a>
</p>
  <div class="location">
    <div class="name">Sheraton Towers Singapore</div>
    <a class="address" href="https://goo.gl/maps/qh9DqeDHynxtwWyV9">39 Scotts Rd, Singapore 228230</a>
  </div>

<!-- to remove RSVP section and link to RSVP below after 15 Apr or after all seats are filled
<h2>RSVP</h2>
<p>Please <a href="https://forms.gle/yKTKx6i4fztvbAtd8">send your RSVP</a> online by 1 March 2021.</p> 
// -->

<h2>Seating</h2>
<p>To align with government regulations for safe distancing, guests will be seated in two separate zones. Mingling between zones and after service is not permitted.</p>

<h4>Note: <u>You may be seated in a different zone at each venue.</u></h4>

<p>Check your lunch seats <a href="/seating">here</a>.</p>
<p>We seek your understanding if you have been seated in a zone that is not of your preference.</p>

<hr />

<h2>Guestbook</h2>
<p>Signed our guestbook? <a href="/guestbook">See what others have written</a></p>

<p>If you have any questions, please <a href="mailto:zalwynxminz@gmail.com" onmouseover="this.href=this.href.replace(/z/g, '');">email us</a>.</p>

<hr />
