<h2>Seating</h2>
<p>To align with government regulations for safe distancing, guests will be seated in two separate zones. <strong>Mingling between zones and after service is not permitted.</strong><br>
  <br>Please help us keep our special day within safe distancing regulations!</p>

<h3>Check your seats</h3>
<form id="lookup">
  <input id="name" type="text" placeholder="Name as on RSVP form"></input><button type="submit">Check Seat</button>
</form>

<div id="seating" />

<h4>Note: <u>You may be seated in a different zone at each venue.</u></h4>
<p>We seek your understanding if you have been seated in a zone that is not of your preference.</p>

<hr />

<h2>Church Seating Plan</h2>
<div id="church">
  <img style="width: 100%; background-color: transparent" src="/images/seating-service.png"/>
</div>

<h2>Lunch Seating Plan</h2>
<div id="lunch">
  <img style="width: 100%; background-color: transparent" src="/images/seating-lunch.png"/>
</div>

<hr>


<script>
  document.getElementById('lookup').onsubmit = async (event) => {
    event.preventDefault()
    document.getElementById('seating').innerText = 'Looking up...'

    const name = document.getElementById('name').value
    const response = await fetch(`/.netlify/functions/guests?name=${name}`)
      .then(response => response.json())
    if (response.message) {
      document.getElementById('seating').innerText = response.message
    } else {
      document.getElementById('seating').innerText = `Church Pew: ${response.pew}\nLunch Table: ${response.table}`
    }
  }
</script>
