<h1>Order of Service</h1>

<h3>Prelude</h3>
  <p style="padding-left: 1rem;>
    <h4>Jesu, Joy of Man’s Desiring</h4>
    <span style="font-size: 0.8rem;">J.S. Bach, arr. Myra Hess</span>
  </p>

<h3>Processional</h3>
  <p style="padding-left: 1rem;>
    <strong>Face to Face</strong>
    <span style="font-size: 0.8rem;">C.E. Breck; G.C. Tullar</span>
  </p>

<h3>Opening Hymn</h3>
  <p style="padding-left: 1rem;>
    <h4>All Creatures of Our God and King</h4> 
    <span style="font-size: 0.8rem;">St Francis of Assisi; Geistliche Kirchengesäng</span>
  </p>

<h3>Opening Prayer</h3>

<h3>Solemnization</h3>

<h3>Scripture Reading</h3>
  <p style="padding-left: 1rem;>
    <h4>Ephesians 5:21-32</h4>
  </p>

<h3>Closing Hymn</h3>
  <p style="padding-left: 1rem;>
    <h4>O Father All-Creating</h4>
    <span style="font-size: 0.8rem;">J. Ellerton; S. Wesley</span>
  </p>

<h3>Benediction</h3>

<h3>Signing</h3>
  <p style="padding-left: 1rem;">
    <h4>This Is My Father’s World</h4> 
    <span style="font-size: 0.8rem;">M.D. Babcock</span>
  </p>

<h3>Recessional</h3>
  <p style="padding-left: 1rem;">
    <h4>Love Divine, All Loves Excelling</h4> 
    <span style="font-size: 0.8rem;">C. Wesley; W.P. Rowlands</span>
  </p>
                                
<hr />
                                
<h3>With Gratitude To...</h3>
<a href="/thankyou">Thank you to all these people</a>
