<h1>Thank You</h1>

<h2>WITH LOVE AND GRATITUDE...</h2>
  <p>to our families and friends who have helped in big and small ways to make this day happen, and to all here with us to witness this occasion</p>
  <p>to our loved ones who are no longer here with us, but who are always in our hearts</p>
 
  <h3>to our bridal party</h3>
  <p style="padding-left: 1rem;">
    Best Man: Shaun </br>
    Bridesmaid: Petrina </br> 
    Flower girl: Kaitlyn</br> 
    Page boy: Isaac
  </p>
    
  <h3>to our musicians</h3>
  <p style="padding-left: 1rem;">
    Pianist: Ben Tan </br>
    Violinist: Christine Tan </br>
    Cellist: Daryl Tan </br>
    Voices: Cyprian & Vanessa & Sophie, Gaelan & Cindy
  </p>
  
  <h3>to our pastors</h3>
  <p style="padding-left: 1rem;">
    Life BP Church: Rev Quek Kheng Khwang </br>
    The Crossing Church: Kenneth Lo
  </p>

  <h3>to our helpers</h3>
  <p style="padding-left: 1rem;">
    Church coordination: Michelle & Zhong Liang, Doris, Russell </br>
    Ushers: Cindy & Gaelan, Amelia, Barbara </br>
    Traffic: Pin Li, Yin Li </br>
    Safe Entry: Nat, Leelee </br>
    Emcee: Claudia </br>
    Bell-ringer: Shao Sheng </br>
    Dress: Ee Gina, Ee Judy </br>
    Decor: Amelia, Barbara, Petrina, Serene </br>
    Page boy's parents: Joshua & Yvonne </br>
    Flower girl's parents: Junxian & Serene 
  </p>
  
<h2>TO OUR PARENTS</h2>
  <p style="padding-left: 1rem;">
    we are who we are today because of your love, support, encouragement and godly examples </br>
    thank you and we love you
  </p>

<h2>TO GOD</h2>
  <p style="padding-left: 1rem;">
    our Creator, Saviour, heavenly Father, and divine matchmaker, Who made us, saved us, kept us and brought us together ♥
  </p>

<hr />

<p style="text-align: center;">
  <i>“Let us run with endurance the race that is set before us, looking to Jesus, the Founder and Perfecter of our faith...”</i>  </br>
  <strong>HEBREWS 12:1-2</strong>
  </p>
