<h1>Lunch Menu</h1> 

<h2>Appetiser</h2>
李白锦绣大拼盘<br/>
Li Bai Deluxe Traditional Hors d’oeuvre
<ul>
  <li>Bacon</li>
  <li>Eggs</li>
  <li>Prawn</li>
  <li>Chicken</li>
  <li>Beef</li>
</ul>

<h2>Soup</h2>
淮山枸杞雪耳炖鸡汤<br/>
Double-boiled Chicken Soup with Chinese Yam, Wolfberry
and Snow Fungus

<h2>Seafood</h2>
荷塘彩椒炒带子<br/>
Sautéed Fresh Scallop with Snow Pea, Lotus Root and
Capsicum


<h2>Fish</h2>
葱蒜蒸或煎比目鱼<br/>
Steamed or Pan-fried Halibut with Garlic and
Spring Onion Sauce

<h2>Meat</h2>
酱烧琵琶鸭<br/>
Roast Pi Pa Duck

<h2>Vegetable</h2>
干贝鲜腐竹扒菠菜<br/>
Hong Kong Spinach with Fresh Beancurd Skin and Conpoy

<h2>Noodle</h2>
锦绣炒面线<br/>
Wok Fried Mian Xian with Chicken

<h2>Dessert</h2>
杨枝甘露<br/>
Cream of Mango with Pomelo Sago (served cold)

<hr />

<h2>Drinks</h2>
<ul>
  <li>Soft drinks</li>
  <li>Chinese Tea</li>
  <li>Beer</li>
  <li>Wine</li>
</ul>